.read-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  height: 100vh; 
  background-image: url('../../assets/BLOG1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; 
}

.center-heading {
  text-align: center;
  margin-top: 20px; 
  z-index: 2; 
}

.center-heading h1 {
  font-size: 2.5rem;
  color: #070707;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  margin-bottom: 40px; 
}

.card-container {
  display: flex;
  justify-content: space-around; 
  align-items: stretch; 
  width: 100%; 
  gap: 20px; 
}
.story-card {
  position: relative; 
  flex: 1;
  max-width: 300px;
  background: rgba(250, 206, 206, 0.8);
  border-radius: 15px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  font-weight: bolder;
  border: 5px solid white;
}

.story-card h2 {
  position: relative; 
  font-size: 1.5rem;
  margin-bottom: 10px;
  z-index: 2; 
  color: #070707;
  text-decoration: underline;
  font-weight: bolder;
}

.card-image {
  max-width: 50%; 
  height: auto;
  margin: 20px 0; 
  border-radius: 50%; 
  border: 4px solid white;
}

.story-card p {
  font-size: 1rem;
  z-index: 1;
  position: relative;
}

.story-card::before {
  content: "";
  position: absolute; 
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px; 
  height: 60px; 
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 50%; 
  filter: blur(10px); 
  z-index: 1; 
}



.read-button {
  margin-top: 20px; 
  padding: 10px 20px;
  background-color: #842525;
  color: white;
  border: 4px solid white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bolder;
}

.read-button:hover {
  background-color: #762121;
  transform: scale(1.05);
  text-decoration: underline;
} 