 .blog-detail-container {
    width: 80%;
    margin: 5px auto;
    padding: 20px;
    border: 6px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);

  }
  
  .blog-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-decoration: underline;
    color: black;
  }
  
  .blog-content {
    font-size: 1.1rem;
    line-height: 1.5;
    color: black;
    text-align: center;
  }
  
  .blog-detail-loading,
  .blog-detail-error {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    margin-top: 20px;
  }
   






















